#include <winres.h>

1 RT_MANIFEST "res.manifest"

129 DIALOGEX 0, 0, 220, 172
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Text Font",IDC_STATIC,12,14,40,8
    EDITTEXT        1001,55,11,140,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",1002,195,11,12,14
    LTEXT           "Text Size",IDC_STATIC,12,34,40,8
    EDITTEXT        1003,55,31,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1004,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_HOTTRACK,85,31,10,14
    LTEXT           "Text Color",IDC_STATIC,12,54,40,8
    LTEXT           "",1005,55,51,40,14,SS_NOTIFY
    LTEXT           "Opaque",IDC_STATIC,100,54,30,8
    EDITTEXT        1007,130,51,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1008,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_HOTTRACK,150,51,10,14
    LTEXT           "BG Color",IDC_STATIC,12,74,40,8
    LTEXT           "",1006,55,71,40,14,SS_NOTIFY
    LTEXT           "Opaque",IDC_STATIC,100,74,30,8
    EDITTEXT        1009,130,71,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1010,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_HOTTRACK,150,71,10,14
    LTEXT           "Border",IDC_STATIC,12,94,30,8
    EDITTEXT        1011,55,91,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1012,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_HOTTRACK,75,91,10,14
    CHECKBOX        "Auto-size",1013,12,114,80,10,BS_AUTOCHECKBOX
    DEFPUSHBUTTON   "Close",IDOK,85,144,50,14,WS_GROUP
END

130 DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About LiveStreamingTool"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "LiveStreamingTool, Version 0.1",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (c) 2024, Soar Qin",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END
