#include <winres.h>
#include "resource.h"

129 DIALOGEX 0, 0, 688, 334
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Bingo面板",IDC_STATIC,8,8,212,318

    LTEXT           "文字字体",IDC_STATIC,20,22,40,8
    EDITTEXT        IDC_TEXTFONT,63,20,140,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",IDC_BTN_SEL_TEXTFONT,203,20,12,14

    LTEXT           "文字大小",IDC_STATIC,20,42,40,8
    EDITTEXT        IDC_TEXTSIZE,63,40,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_TEXTSIZE_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,93,40,10,14

    LTEXT           "文字颜色",IDC_STATIC,20,62,40,8
    LTEXT           "",IDC_TEXTCOLOR,63,60,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,62,30,8
    EDITTEXT        IDC_TEXTCOLORA,138,60,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_TEXTCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,60,10,14

    LTEXT           "阴影厚度",IDC_STATIC,20,82,40,8
    EDITTEXT        IDC_SHADOW,63,80,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SHADOW_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,80,10,14

    LTEXT           "阴影偏移 x",IDC_STATIC,20,102,40,8
    EDITTEXT        IDC_SHADOWOFFSET_X,63,100,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SHADOWOFFSET_X_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,100,10,14
    CTEXT           "y",IDC_STATIC,93,102,8,8
    EDITTEXT        IDC_SHADOWOFFSET_Y,101,100,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SHADOWOFFSET_Y_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,121,100,10,14

    LTEXT           "阴影颜色",IDC_STATIC,20,122,40,8
    LTEXT           "",IDC_SHADOWCOLOR,63,120,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,122,30,8
    EDITTEXT        IDC_SHADOWCOLORA,138,120,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SHADOWCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,120,10,14

    LTEXT           "背景颜色",IDC_STATIC,20,142,40,8
    LTEXT           "",IDC_BGCOLOR,63,140,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,142,30,8
    EDITTEXT        IDC_BGCOLORA,138,140,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_BGCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,140,10,14

    LTEXT           "边框宽度",IDC_STATIC,20,162,40,8
    EDITTEXT        IDC_BORDER,63,160,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_BORDER_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,160,10,14

    LTEXT           "边框颜色",IDC_STATIC,20,182,40,8
    LTEXT           "",IDC_BORDERCOLOR,63,180,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,182,30,8
    EDITTEXT        IDC_BORDERCOLORA,138,180,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_BORDERCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,180,10,14

    LTEXT           "表格间隙",IDC_STATIC,20,202,40,8
    EDITTEXT        IDC_CELLSPACING,63,200,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CELLSPACING_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,200,10,14

    LTEXT           "间隙颜色",IDC_STATIC,20,222,40,8
    LTEXT           "",IDC_SPACINGCOLOR,63,220,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,222,30,8
    EDITTEXT        IDC_SPACINGCOLORA,138,220,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPACINGCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,220,10,14

    LTEXT           "格子大小",IDC_STATIC,20,242,40,8
    EDITTEXT        IDC_CELLWIDTH,63,240,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CELLWIDTH_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,240,10,14
    CTEXT           "x",IDC_STATIC,93,242,8,8
    EDITTEXT        IDC_CELLHEIGHT,101,240,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CELLHEIGHT_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,121,240,10,14

    LTEXT           "自动大小",IDC_STATIC,20,262,40,8
    COMBOBOX        IDC_AUTOSIZE,63,260,80,100,CBS_DROPDOWNLIST | WS_VSCROLL

    LTEXT           "玩家1颜色",IDC_STATIC,20,282,40,8
    LTEXT           "",IDC_PLAYER1COLOR,63,280,40,14,SS_NOTIFY
    CHECKBOX        "使用贴图",IDC_PLAYER1USETEXTURE,105,282,50,8,BS_AUTOCHECKBOX
    LTEXT           "",IDC_PLAYER1TEXTURE,155,280,40,14,SS_NOTIFY | SS_OWNERDRAW

    LTEXT           "玩家2颜色",IDC_STATIC,20,302,40,8
    LTEXT           "",IDC_PLAYER2COLOR,63,300,40,14,SS_NOTIFY
    CHECKBOX        "使用贴图",IDC_PLAYER2USETEXTURE,105,302,50,8,BS_AUTOCHECKBOX
    LTEXT           "",IDC_PLAYER2TEXTURE,155,300,40,14,SS_NOTIFY | SS_OWNERDRAW


    GROUPBOX        "积分面板",IDC_STATIC,238,8,212,178

    LTEXT           "文字字体",IDC_STATIC,250,22,40,8
    EDITTEXT        IDC_SCOREFONT,293,20,140,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",IDC_BTN_SEL_SCOREFONT,433,20,12,14

    LTEXT           "文字大小",IDC_STATIC,250,42,40,8
    EDITTEXT        IDC_SCORESIZE,293,40,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORESIZE_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,40,10,14

    LTEXT           "阴影厚度",IDC_STATIC,250,62,40,8
    EDITTEXT        IDC_SCORESHADOW,293,60,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORESHADOW_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,60,10,14

    LTEXT           "阴影偏移 x",IDC_STATIC,250,82,40,8
    EDITTEXT        IDC_SCORESHADOWOFFSET_X,293,80,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORESHADOWOFFSET_X_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,80,10,14
    CTEXT           "y",IDC_STATIC,323,82,8,8
    EDITTEXT        IDC_SCORESHADOWOFFSET_Y,331,80,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORESHADOWOFFSET_Y_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,351,80,10,14

    LTEXT           "阴影颜色",IDC_STATIC,250,102,40,8
    LTEXT           "",IDC_SCORESHADOWCOLOR,293,100,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,338,102,30,8
    EDITTEXT        IDC_SCORESHADOWCOLORA,368,100,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORESHADOWCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,388,100,10,14

    LTEXT           "背景颜色",IDC_STATIC,250,122,40,8
    LTEXT           "",IDC_SCOREBGCOLOR,293,120,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,338,122,30,8
    EDITTEXT        IDC_SCOREBGCOLORA,368,120,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCOREBGCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,388,120,10,14

    LTEXT           "获胜文字",IDC_STATIC,250,142,40,8
    EDITTEXT        IDC_SCOREWINTEXT,293,140,140,14,ES_AUTOHSCROLL

    LTEXT           "Bingo文字",IDC_STATIC,250,162,40,8
    EDITTEXT        IDC_SCOREBINGOTEXT,293,160,140,14,ES_AUTOHSCROLL


    GROUPBOX        "名字面板",IDC_STATIC,468,8,212,198

    LTEXT           "文字字体",IDC_STATIC,480,22,40,8
    EDITTEXT        IDC_NAMEFONT,523,20,140,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",IDC_BTN_SEL_NAMEFONT,663,20,12,14

    LTEXT           "文字大小",IDC_STATIC,480,42,40,8
    EDITTEXT        IDC_NAMESIZE,523,40,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NAMESIZE_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,643,40,10,14

    LTEXT           "阴影厚度",IDC_STATIC,480,62,40,8
    EDITTEXT        IDC_NAMESHADOW,523,60,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NAMESHADOW_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,643,60,10,14

    LTEXT           "阴影偏移 x",IDC_STATIC,480,82,40,8
    EDITTEXT        IDC_NAMESHADOWOFFSET_X,523,80,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NAMESHADOWOFFSET_X_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,643,80,10,14
    CTEXT           "y",IDC_STATIC,553,82,8,8
    EDITTEXT        IDC_NAMESHADOWOFFSET_Y,561,80,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NAMESHADOWOFFSET_Y_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,581,80,10,14

    LTEXT           "阴影颜色",IDC_STATIC,480,102,40,8
    LTEXT           "",IDC_NAMESHADOWCOLOR,523,100,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,568,102,30,8
    EDITTEXT        IDC_NAMESHADOWCOLORA,598,100,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NAMESHADOWCOLORA_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,618,100,10,14

    LTEXT           "获胜文字",IDC_STATIC,480,122,40,8
    EDITTEXT        IDC_NAMEWINTEXT,523,120,140,14,ES_AUTOHSCROLL

    LTEXT           "Bingo文字",IDC_STATIC,480,142,40,8
    EDITTEXT        IDC_NAMEBINGOTEXT,523,140,140,14,ES_AUTOHSCROLL

    LTEXT           "选手名1",IDC_STATIC,480,162,40,8
    EDITTEXT        IDC_PLAYER1NAME,523,160,140,14,ES_AUTOHSCROLL

    LTEXT           "选手名2",IDC_STATIC,480,182,40,8
    EDITTEXT        IDC_PLAYER2NAME,523,180,140,14,ES_AUTOHSCROLL


    GROUPBOX        "积分规则",IDC_STATIC,238,198,212,118

    CHECKBOX        "随机Bingo规则(不勾选则为阶段Bingo规则)",IDC_BINGOBRAWLERS,250,212,200,8,BS_AUTOCHECKBOX
    LTEXT           "先完成积分",IDC_STATIC,250,232,40,8
    EDITTEXT        IDC_SCORE0,293,230,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORE0_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,230,10,14
    EDITTEXT        IDC_SCORE1,323,230,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORE1_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,343,230,10,14
    EDITTEXT        IDC_SCORE2,353,230,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORE2_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,373,230,10,14
    EDITTEXT        IDC_SCORE3,383,230,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORE3_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,403,230,10,14
    EDITTEXT        IDC_SCORE4,413,230,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SCORE4_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,433,230,10,14
    LTEXT           "后完成积分",IDC_STATIC,250,252,40,8
    EDITTEXT        IDC_NFSCORE0,293,250,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NFSCORE0_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,250,10,14
    EDITTEXT        IDC_NFSCORE1,323,250,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NFSCORE1_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,343,250,10,14
    EDITTEXT        IDC_NFSCORE2,353,250,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NFSCORE2_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,373,250,10,14
    EDITTEXT        IDC_NFSCORE3,383,250,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NFSCORE3_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,403,250,10,14
    EDITTEXT        IDC_NFSCORE4,413,250,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_NFSCORE4_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,433,250,10,14
    LTEXT           "Bingo积分",IDC_STATIC,250,272,40,8
    EDITTEXT        IDC_BINGOSCORE,293,270,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_BINGOSCORE_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,270,10,14
    LTEXT           "每行最多完成",IDC_STATIC,350,272,60,8
    EDITTEXT        IDC_MAXPERROW,413,270,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_MAXPERROW_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,433,270,10,14
    LTEXT           "通关积分",IDC_STATIC,250,292,40,8
    EDITTEXT        IDC_CLEARSCORE,293,290,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CLEARSCORE_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,313,290,10,14
    LTEXT           "通关任务差倍率",IDC_STATIC,350,292,60,8
    EDITTEXT        IDC_CLEARQUESTDIFFMULT,413,290,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CLEARQUESTDIFFMULT_UPDOWN,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,433,290,10,14


    DEFPUSHBUTTON   "关闭",IDOK,600,300,80,26,WS_GROUP
END

130 DIALOGEX 0, 0, 100, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "输入同步码"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT      1001,8,8,84,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON "确定",IDOK,8,28,40,14
    PUSHBUTTON    "取消",IDCANCEL,52,28,40,14
END

1 ICON "bingotool.ico"
