#include <winres.h>

129 DIALOGEX 0, 0, 500, 400
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "设置"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "表格",IDC_STATIC,8,8,212,182
    LTEXT           "文字字体",IDC_STATIC,20,22,40,8
    EDITTEXT        1001,63,19,140,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",1002,203,19,12,14
    LTEXT           "文字大小",IDC_STATIC,20,42,40,8
    EDITTEXT        1003,63,39,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1004,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,93,39,10,14
    LTEXT           "文字颜色",IDC_STATIC,20,62,40,8
    LTEXT           "",1005,63,59,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,62,30,8
    EDITTEXT        1007,138,59,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1008,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,59,10,14
    LTEXT           "背景颜色",IDC_STATIC,20,82,40,8
    LTEXT           "",1006,63,79,40,14,SS_NOTIFY
    LTEXT           "透明度",IDC_STATIC,108,82,30,8
    EDITTEXT        1009,138,79,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1010,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,158,79,10,14
    LTEXT           "边框宽度",IDC_STATIC,20,102,40,8
    EDITTEXT        1011,63,99,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1012,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,99,10,14
    LTEXT           "表格间隙",IDC_STATIC,20,122,40,8
    EDITTEXT        1013,63,119,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1014,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,119,10,14
    LTEXT           "格子大小",IDC_STATIC,20,142,40,8
    EDITTEXT        1015,63,139,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1016,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,83,139,10,14
    CTEXT           "x",IDC_STATIC,93,142,8,8
    EDITTEXT        1017,101,139,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1018,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HOTTRACK,121,139,10,14
    DEFPUSHBUTTON   "关闭",IDOK,83,252,50,14,WS_GROUP
END

1 ICON "bingotool.ico"
