#include <winres.h>

129 DIALOGEX 0, 0, 336, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "存档一键改签导入生成工具"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "存档文件",IDC_STATIC,20,12,40,8
    EDITTEXT        1001,63,10,240,13,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",1002,303,10,12,13
    LTEXT           "导入前提示",IDC_STATIC,20,32,40,8
    EDITTEXT        1003,24,48,291,150,ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    LTEXT           "输出文件",IDC_STATIC,20,208,40,8
    EDITTEXT        1004,63,206,240,13,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",1005,303,206,12,13
    DEFPUSHBUTTON   "生成！",1006,113,226,90,14,WS_GROUP
END

1 ICON "saveimporter.ico"
