#include <winres.h>

129 DIALOGEX 0, 0, 416, 240
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "存档一键改签导入生成工具"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "存档文件",IDC_STATIC,20,12,40,8
    EDITTEXT        1001,63,10,320,13,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",1002,383,10,12,13
    LTEXT           "选择导出角色",IDC_STATIC,20,32,100,8
    LISTBOX         1009,20,48,75,100,LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL
    LTEXT           "导入前提示",IDC_STATIC,100,32,40,8
    EDITTEXT        1003,104,48,291,100,ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    CHECKBOX        "将IGT设为0",1007,24,158,80,10,BS_AUTOCHECKBOX
    CHECKBOX        "保留捏脸数据",1008,24,178,80,10,BS_AUTOCHECKBOX
    LTEXT           "输出文件",IDC_STATIC,20,198,40,8
    EDITTEXT        1004,63,196,320,13,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",1005,383,196,12,13
    DEFPUSHBUTTON   "生成！",1006,153,216,90,14,WS_GROUP | WS_DISABLED
END

1 ICON "saveimporter.ico"
